 @import "/reset.css";
 @import "./component/card/Card.css";
 @import "./component/book/Book.css";
 @import "./component/author/Author.css";

 * {
     box-sizing: border-box;
 }

 body {
     background-color: blueviolet;
 }

 button, 
 a {
    cursor: pointer;
 }